$liSize: 60px;
$bg: hsla(0, 11%, 91%, 1);
$primary: hsla(0, 0%, 61%, 1);
$secondary: #555;

#nice-obj {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  overflow: hidden;
  transition: all 200ms linear;
  min-height: 300px;

  &.is-min {
    width: $liSize;
    height: $liSize + 18px;
    min-height: $liSize + 18px;

    #nice-min {
      transform: rotate(-90deg);
    }

  }

}

#nice-nav {
  float: right;
  background: $bg;
  margin: 0;
  padding: 0;
  border: 3px solid #fbfbfb;
  border-top: 0;
  border-right: 0;

  li {
    display: block;
    cursor: pointer;
    background-size: $liSize * .75 $liSize * .75;
    background-position: center center;
    background-repeat: no-repeat;
    width: $liSize;
    height: $liSize;
    font-size: 12px;
    &:hover {
      background-color: darken($bg, 3%);
    }

  }

  #nice-title {
    font-weight: 600;
    background: $primary;
    color: white;
    text-transform: uppercase;
    height: auto;
    margin: 0;
    width: 100%;
    height: 18px;
    line-height: 18px;
  }

  pre {
  }

  #nice-off {
    background-image: url(../svg/power.svg);
  }

  #nice-diff {
    background-image: url(../svg/diff.svg);
  }

  #nice-toggle {
    background-image: url(../svg/toggle.svg);
  }

  #nice-min {
    background-image: url(../svg/collapse.svg);
    transform: rotate(90deg);
  }


}
