$liSize: 60px;
$bg: hsla(0, 11%, 21%, 1);
$primary: #78777A;
$secondary: #b7b7b7;
$tertiary: #fbfbfb;
$titleHeight: 18px;

@font-face {
  font-family: 'myfont';
  src: url('../font/myfont.woff') format('woff'),
       url('../font/myfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#nice-obj {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  transition: all 200ms linear;

  &.is-min {
    width: $liSize;
    height: $liSize + $titleHeight;
    min-height: $liSize + $titleHeight;

    #nice-min span {
      transform: rotateX(180deg);
      display: block;
    }
  }

  pre {
    text-align: left;
    line-height: 2.5em;
    width: auto;
    float: left;
    border: 5px solid lighten($bg, 3%);
    border-radius: 5px 0 0 5px;
    border-right: 0;
    transition: all 200ms linear;
    z-index: -10;
    overflow: hidden;
    display: none;
    max-width: 600px;
    max-height: 600px;
    overflow: auto;
    background: white;
    white-space: pre-line;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 0;
    span {
      display: block;
      white-space: wrap;
      padding: 0 10px;
      &:nth-child(even) {
        background: $tertiary;
      }
      &.is-added {
        &:before {
          content: '++';
          display: inline-block;
          margin-right: 10px;
        }
      }
      &.is-removed {
        &:before {
          content: '--';
          display: inline-block;
          margin-right: 10px;
        }
      }
      &::selection {
        background: hsla(66, 100%, 92%, 1);
      }
    }
    &.is-active {
      display: inline-block;
    }
  }
}

#nice-nav {
  float: right;
  background: $bg;
  margin: 0;
  padding: 0;
  z-index: 1000;
  li {
    user-select: none;
    display: block;
    cursor: pointer;
    width: $liSize;
    font-size: 12px;
    border-top: 1px solid lighten($bg, 4%);
    border-bottom: 1px solid darken($bg, 5%);
    font-family: 'myfont';
    font-size: $liSize * .6;
    line-height: 1em;
    display: block;
    padding: 10px 0;
    color: $primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 200ms linear;
    &:hover {
      color: $secondary;
      background: darken($bg, 3%);
    }
    &:nth-of-type(2), &:nth-of-type(1) {
      border-top: 0;
    }
  }

  #nice-title {
    font-weight: 600;
    font-size: 11px;
    background: $primary;
    color: white;
    text-transform: uppercase;
    height: auto;
    margin: 0;
    width: 100%;
    height: $titleHeight;
    line-height: 15px;
    padding: 0;
  }

  #nice-min span {
    transition: all 200ms linear;
  }

}
